<div style="margin: 20px;">

  <div *ngIf="authService.user$ | async as user"
    style="margin-bottom:20px; display:flex; justify-content:space-between; align-items:center;">
    <div>
      <p><strong>{{ 'welcome' | transloco }}:</strong> {{ user.email }}</p>
    </div>

    <button mat-raised-button color="warn" (click)="logout()">
      {{ 'LOGOUT' | transloco }}

    </button>
  </div>

  <h2>{{ 'add' | transloco }}</h2>

  <mat-form-field appearance="outline" style="margin-right:10px;">
    <mat-label>{{ 'name' | transloco }}</mat-label>
    <input matInput [(ngModel)]="newContact.name">
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-right:10px;">
    <mat-label>{{ 'email' | transloco }}</mat-label>
    <input matInput [(ngModel)]="newContact.email">
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-right:10px;">
    <mat-label>{{ 'phone' | transloco }}</mat-label>
    <input matInput [(ngModel)]="newContact.phone">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addContact()">
    {{ 'add' | transloco }}
  </button>

  <button mat-raised-button color="accent" (click)="addRandomContacts()" style="margin-left:10px;">
    {{ 'generateRandom' | transloco }}
  </button>

  <hr style="margin:20px 0;">

  <mat-form-field appearance="outline" style="width:300px;">
    <mat-label>{{ 'search' | transloco }}</mat-label>
    <input matInput [(ngModel)]="searchTerm">
  </mat-form-field>

  <table mat-table [dataSource]="(contacts$ | async) ?? [] | filterContacts:searchTerm" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let contact"> {{ contact.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'name' | transloco }}</th>
      <td mat-cell *matCellDef="let contact"> {{ contact.name }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>{{ 'email' | transloco }}</th>
      <td mat-cell *matCellDef="let contact"> {{ contact.email }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>{{ 'phone' | transloco }}</th>
      <td mat-cell *matCellDef="let contact"> {{ contact.phone }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'actions' | transloco }}</th>
      <td mat-cell *matCellDef="let contact">
        <button mat-button color="primary" (click)="selectedContact = contact">
          {{ 'edit' | transloco }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','name','email','phone','actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','name','email','phone','actions'];"></tr>
  </table>

  <app-contact-detail *ngIf="selectedContact" [contact]="selectedContact"
    (delete)="deleteContact($event); selectedContact=null" (edit)="updateContact($event); selectedContact=null"
    (close)="selectedContact=null">
  </app-contact-detail>

</div>